<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msy.plus.mapper.CustomerManagerMapper">
  <resultMap id="BaseResultMap" type="com.msy.plus.entity.CustomerManager">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="job" jdbcType="INTEGER" property="job" />
    <result column="source" jdbcType="INTEGER" property="source" />
    <result column="seller" jdbcType="INTEGER" property="seller" />
    <result column="inputUser" jdbcType="INTEGER" property="inputuser" />
    <result column="inputTime" jdbcType="TIMESTAMP" property="inputtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="positiveTime" jdbcType="TIMESTAMP" property="positivetime" />
  </resultMap>
</mapper>