<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yly.crm.mapper.CustomerFollowUpHistoryMapper">
  <resultMap id="BaseResultMap" type="com.yly.crm.entity.CustomerFollowUpHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="traceTime" jdbcType="TIMESTAMP" property="tracetime" />
    <result column="traceType" jdbcType="INTEGER" property="tracetype" />
    <result column="traceResult" jdbcType="INTEGER" property="traceresult" />
    <result column="customerID" jdbcType="INTEGER" property="customerid" />
    <result column="inputUser" jdbcType="INTEGER" property="inputuser" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="traceDetails" jdbcType="LONGVARCHAR" property="tracedetails" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
      <result column="customer_ent_id" jdbcType="INTEGER" property="customerEntId" />
  </resultMap>
  <select id="listAndSearch" resultType="com.yly.crm.dto.CustomerFollowUpHistoryDTO">
    select cfuh.id          as id,
           cm2.name         as name,
           cfuh.traceTime   as traceTime,
           cfuh.comment     as comment,
           cfuh.traceType   as traceType,
           cfuh.traceResult as traceResult,
           cfuh.traceDetails as traceDetails,
           cfuh.inputUser   as inputUser,
           cfuh.type        as type
    from customer_follow_up_history cfuh
           left join customer_contacts cm2 on cfuh.customerID = cm2.id
    where (cm2.tel like concat('%',#{keyword},'%') or cm2.name like concat('%',#{keyword},'%'))
      <if test="startTime != null and startTime != ''">
        and cfuh.traceTime between #{startTime} and #{endTime}
      </if>
      <if test="type != null and type != 9999999">
        and cfuh.type = #{type}
      </if>
      order by cfuh.traceTime desc
  </select>
</mapper>