<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msy.plus.mapper.DictionaryDetailsMapper">
  <resultMap id="BaseResultMap" type="com.msy.plus.entity.DictionaryDetails">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <select id="listWithKeyword" resultMap="BaseResultMap">
    select *
    from dictionary_details as d
    where d.parentId = #{id}
    <if test="keyword != null and keyword != '' ">
      (d.sequence like concat('%', #{keyword}, '%')
      or d.title like concat('%', #{keyword}, '%'))
    </if>
  </select>
</mapper>