<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yly.crm.mapper.DictionaryTableBizRefMapper">

    <resultMap id="BaseResultMap" type="com.yly.crm.entity.DictionaryTableBizRef">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="bizName" column="biz_name" jdbcType="VARCHAR"/>
            <result property="tableName" column="table_name" jdbcType="VARCHAR"/>
            <result property="schemaJson" column="schema_json" jdbcType="VARCHAR" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="isSys" column="is_sys" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,biz_name,table_name,
        schema_json
    </sql>
</mapper>
