<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msy.plus.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.msy.plus.entity.Employee">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="dept" jdbcType="INTEGER" property="dept"/>
        <result column="hireDate" jdbcType="TIMESTAMP" property="hiredate"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="admin" jdbcType="INTEGER" property="admin"/>
    </resultMap>
    <resultMap id="EmployeeWithRole" type="com.msy.plus.entity.EmployeeWithRoleDO" extends="BaseResultMap">
        <result column="departmentName" jdbcType="VARCHAR" property="departmentName"/>
        <result column="roleNames" jdbcType="VARCHAR" property="roleNames"/>
    </resultMap>
    <resultMap id="EmployeeDetail" type="com.msy.plus.entity.EmployeeDetail" extends="BaseResultMap">
        <collection property="roleIds" javaType="java.util.List" ofType="java.lang.String">
            <result column="roleIds" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <select id="listEmployeeWithRole" resultMap="EmployeeWithRole">
        select e.id as id,
        e.name as name,
        email,
        age,
        d.name as departmentName,
        group_concat(r.name order by e.name ASC SEPARATOR ',') as roleNames
        from employee as e
        left join employee_role as er on er.employeeId = e.id
        left join role as r on er.roleId = r.id
        left join department as d on d.id = e.dept
        where (e.name like concat('%',#{keyword},'%') or e.email like concat('%',#{keyword},'%'))
        <if test="dept != null and dept >0">
            and e.dept = #{dept}
        </if>
        group by e.id order by e.id desc
    </select>
    <select id="getDetailById" resultMap="EmployeeDetail">
        select e.id       as id,
               e.name     as name,
               e.password as password,
               email,
               age,
               e.dept     as dept,
               e.admin    as admin,
               er.roleId  as roleIds
        from employee as e
                 left join employee_role er on er.employeeId = e.id
        where e.id = #{id}
    </select>
    <delete id="deleteEmployeeWithRole">
        delete
        from employee_role
        where employeeId = #{id}
    </delete>
    <select id="saveRoles">
        <if test="roles !=null">
            insert into employee_role (employeeId,roleId) values
            <foreach collection="roles" item="item" index="index" separator=",">
                (
                #{id},
                #{item}
                )
            </foreach>
        </if>
    </select>

    <select id="getAllEmployeeRoleTableRow" resultType="java.lang.Long">
        select roleId
        from employee_role
        where employeeId = #{id}
    </select>
    <delete id="deleteEmployeeWithRoleItem">
        delete
        from employee_role
        where employeeId = #{id}
          and roleId = #{roleId}
    </delete>
</mapper>