<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.seedling.mapper.RoleMapper">
    <resultMap id="RoleMap" type="com.zoctan.seedling.entity.RoleDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <insert id="saveAsDefaultRole" parameterType="java.lang.Long">
        INSERT INTO account_role (account_id, role_id)
        VALUES (#{accountId}, (SELECT r.id FROM role r WHERE name = "USER"))
    </insert>
</mapper>